@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer utilities{
    .back-visible-hidden{
        backface-visibility: hidden;
    }

    .scroll-animation{
        /* animation: scrolling linear; */
        animation-timeline: view();
        animation-range: cover;
    }
}

